/* Symbian Foundation
   CSS
   Version 3
   Date: 17-02-2010 
   Last modified: 19-02-2009
*/
   
/* CSS fixes for IE6 and IE7 */

* html #contentContainer  {
height:500px;
}

/* variable width container */

* html body#variable_width #container {
overflow: visible;
font-size: 100%;
}

* html body#variable_width #container {width:expression(
(document.documentElement.offsetWidth) >1280 
* (parseInt(document.body.currentStyle.fontSize) 
/ parseInt(document.body.currentStyle.fontSize))?  "1250px" 
: ((document.documentElement.offsetWidth) < 1010? "980px" : "99%")); }

/* main promo */


* html div#colcontainer3 div.BoxFrame.two_col, 
* html div#colcontainer4 div.BoxFrame.two_col {
height:130px;
} 

*:first-child+html div#colcontainer1 div.BoxFrame.two_col {
min-height:86px;
}

* html #siteBox #item1_content.itemContainer,
* html #siteBox #item2_content.itemContainer, 
* html #siteBox #item3_content.itemContainer,
* html #siteBox #item4_content.itemContainer  {
height:265px;
width:710px;
}


/* buttons IE 7 */

*:first-child+html p.buttons input#submitForm {
text-align:center;
display:block;
width:110px;
}

	  
/*Start: Last modified - BLUE: Added in minimum height hack for IE6*/  
* html #dropmenu {height:17px;}
* html #dropmenu li a {height:2.5em;}
* html #dropmenu li ul li a, * html #dropmenu li#quicklinks li a {height:2.1em;}
* html .latestBoxContentFrame {height:400px;}
* html #PackageBox {height:220px;}
* html #TopArticleBox {height:435px;}
* html .thankyou_container {height:500px;}
/*End: Last modified - BLUE: Added in minimum height hack for IE6*/

/* clickthrough */

* html div.clickthroughArea p.clickthrough_label {
width:150px;
}

* html #TB_HideSelect { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}


* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}


/* Community FROM DCTC */
* html .community_copy .bulletlist {
list-style-position:inside!important;
}

* html #toolsnkits.subcontent  ul.bulletlist_padded {
float:none;
}

*:first-child+html #toolsnkits.subcontent  ul.bulletlist_padded {
float:none;
}

* html #toolsnkits.subcontent p.list {
clear:both;
float:left;
}

/*  training pages cell fix */

* html div.cell div.BoxFrame.two_col {
height:140px;
}

* html div.cell .right {
margin-top:-12px;
}


*:first-child+html div.cell div.BoxFrame.two_col {
height:140px;
}

*:first-child+html div.cell .right {
margin-top:-12px;
}


/*FIXES FOR .buttons */
input.buttons {
    width: 0;  /* IE table-cell margin fix */
    overflow: visible;
}
input.buttons[class] {
    width:auto;  /* IE table-cell margin fix */
    overflow: visible;
}

/* member companies */

* html div.memberCompanies table#memberTable td .innerCell {
height:100px;
}

/* Community FROM DCTC */
* html .community_copy .bulletlist {
list-style-position: inside! important;
}


/* registration form */

form#registerForm input.drawn {
width:300px;
height:25px;
padding-top:6px;
padding-bottom:0px
}



/* contact us & get in touch */

* html .subcontent {
padding-left:0;
padding-right:0
}

* html #genericContent.contactUs div.contactAddress {
width:942px;
margin:0;
}

* html div.map  {
margin-top:0;
margin-right:7px;
}

/* registration form */
* html body#register form .drawn {
position:relative;
zoom:1;
}

/* services  pages */

* html body#services div.two_col {
float:left;
width:46.5%;
margin-left:2%;
margin-bottom:20px;
}

* html body#services .providers_list {
margin-left:-20px;
}

* html body#services .providers_list .BoxFrame {
height:120px;
}


*:first-child+html body#services form.genericSupportForm table td.userFormInput {
padding-bottom:15px;
}

*:first-child+html body#services form.genericSupportForm select {
margin:0;
}


/* horizon */

*:first-child+html  body#horizon #mr_switch .button, button {
margin:70px 0 0 65px;
}

* html body#horizon #mr_switch .button, button {
margin:70px 0 0 65px;
}


* html body#horizon #mr_switch {
width:268px;
}

/* registration forms */

*:first-child+html form#registerForm .infofield div img {
	margin-top:2px;
}
* html form#registerForm .infofield div img {
	margin-top:2px;
}

/*  Packages tabs - jQuery */

*:first-child+html #contentContainer.packages table.bodyTable {
margin:20px 10px
}

* html #package_tabs ul.ui-tabs-nav {
margin-left:-20px
}

* html #package_tabs ul.bulletlist_padded {
margin-top:20px;
}

*:first-child+html #package_tabs ul.bulletlist_padded {
margin-top:20px;
}

/* forums */

*:first-child+html textarea#vB_Editor_001_textarea {
width:600px;
}

/* footer */

*:first-child+html #devnet_footer img {
margin-top:-20px;
margin-right:-15px;
height:20px;
}


/* re-skinning 10/09 Symbian Developer Community */

/* main promo controls */

#siteBox #main_promo_controls ul.itemList li {
width:68px;
height:41px;
margin:0 13px 0 0 !important;
}

/* top articles */
.ui-accordion li span.ui-accordion-header {
padding:2px 5px;
background:transparent url(/img/icon_drop_down.gif) no-repeat scroll 240px 4px;
width:242px;
}

#dev_footer h4#sitemap {
margin-top:7px;
}

/* top links */

#global_links #international,
#global_links #international ul {
width:135px;
}

#global_links #international ul li {
float:left;
display:inline;
border:none;
border-right:1px solid white;
margin:0 4px 0 0;
padding:0 7px 0 0;
}

#signed_out span.login_button {
color:#fff;
text-align:center;
margin-right:1px;
}

#signed_out span.closing_bracket {
color:#fff;
margin-left:-6px;
font-weight:400;
}

#signed_out span.closing_bracket {
color:#fff;
margin-left:-9px;
font-weight:400;
}

#signed_out input#submit {
width:35px;
text-decoration:none;
}

#signed_out input#submit:hover {
text-decoration:none;
}


/* bugzilla badges */

#bugzilla-body .nmca-signed,
#bugzilla-body .mca-signed {
margin-top:0;
}


/* SDL links */

#treeDiv .ygtvitem a,
#treeDiv .ygtvitem a:hover, #treeDiv .ygtvitem a:active, #treeDiv .ygtvitem a:focus {
outline:none; 
}


#sdl_container :focus {
outline:none;   
}


/* SDL home page */

#sdl_home ul li,
#sdl_home ul li a {
margin:0 15px 28px 0;
}

#sdl_home #books_wrap {
width:570px;
}

/* SDL container */

#sdl_container #leftMenu {
min-width:235px;
}

*:first-child+html #sdl_container #sdl_flexible td.menu {
width:10%;
}

*:first-child+html #sdl_container #sdl_flexible td.divider {
min-width:40px;
}

*:first-child+html #sdl_container #sdl_flexible td.content {
width:83%;
}

#sdl_container #sdl_content {
margin-bottom:50px
}

pre.codeblock {
font-size:0.97em  
}

pre code.cpp {
font-size:0.8em  
}

samp.codeph {
font-size:0.97em 
}

code.ApiItem {
font-size:1em  
}

#sdl_container #sdl_content .body-text ul li,
#sdl_container #sdl_content .body-text ol li {
vertical-align:top;  
padding:0;
}

span.filepath {
font-family:monospace;
font-size:1em

}


/* Mecurial zip message */

p#zip {
float:right;
margin:0 17px -3px 0;
width:315px;
}


/* profiles pages */
/* users list */

#profiles_container table.user_list {
width:97%;
} 




